<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Теория графов</title>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic-ext,cyrillic,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="../js/task2.js"></script>

    <!-- Sigma.js -->
    <script src="../js/build/sigma.min.js"></script>
    <script src="../js/build/plugins/sigma.parsers.json.min.js"></script>
    <script src="../js/build/plugins/sigma.renderers.edgeLabels.min.js"></script>
</head>
<body>
<div class="container clearfix">
    <header class="main-header">
        <div class="logo"></div>
        <nav class="top-menu">
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li>Теория графов</li>
            </ul>
        </nav>
    </header>

    <div class="content">
        <div class="content-menu">
            <ul>
                <li><a href="theory2.html"><i class="fa fa-angle-left"></i></a></li>
                <li><a href="theory2.html"><i class="fa fa-align-justify"></i></a></li>
                <li class="active"><a href="task2.html"><i class="fa fa-random"></i></a></li>
                <li><a href="theory3.html"><i class="fa fa-angle-right"></i></a></li>
            </ul>
        </div>
        <div class="task">
            <div class="column-title">Раскраска вершин графа</div>
            <div class="column-text">
                На рисунке представлен граф G(U,V), где U - множество ребёр, а V - множество вершин.
                Необходимо, изменяя цвета вершин графа в поле справа, раскрасить граф.
                <br><br>
                После того, как введете нужные значения, нажмите кнопку "Сохранить". И только после этого "Проверить".
            </div>
        </div>
        <div class="example">
            <div class="column-title">Раскраска вершин</div>
            <div class="column-text-task2">
                Вершина 1 -
                <select id="select1">
                    <option value="#D50000">Красная</option>
                    <option value="#1A237E">Синяя</option>
                    <option value="#EF6C00">Оранжевая</option>
                    <option value="#9C27B0">Фиолетовая</option>
                </select>
                &nbsp;&nbsp;&nbsp;Вершина 2 -
                <select id="select2">
                    <option value="#D50000">Красная</option>
                    <option value="#1A237E">Синяя</option>
                    <option value="#EF6C00">Оранжевая</option>
                    <option value="#9C27B0">Фиолетовая</option>
                </select><br/><br/>
                Вершина 3 -
                <select id="select3">
                    <option value="#D50000">Красная</option>
                    <option value="#1A237E">Синяя</option>
                    <option value="#EF6C00">Оранжевая</option>
                    <option value="#9C27B0">Фиолетовая</option>
                </select>
                &nbsp;&nbsp;&nbsp;Вершина 4 -
                <select id="select4">
                    <option value="#D50000">Красная</option>
                    <option value="#1A237E">Синяя</option>
                    <option value="#EF6C00">Оранжевая</option>
                    <option value="#9C27B0">Фиолетовая</option>
                </select><br/><br/>
                Вершина 5 -
                <select id="select5">
                    <option value="#D50000">Красная</option>
                    <option value="#1A237E">Синяя</option>
                    <option value="#EF6C00">Оранжевая</option>
                    <option value="#9C27B0">Фиолетовая</option>
                </select>
                &nbsp;&nbsp;&nbsp;Вершина 6 -
                <select id="select6">
                    <option value="#D50000">Красная</option>
                    <option value="#1A237E">Синяя</option>
                    <option value="#EF6C00">Оранжевая</option>
                    <option value="#9C27B0">Фиолетовая</option>
                </select>
                <div class="buttons">
                    <button class="btn btn-save-task2" onclick="getGraph()">Сохранить</button>
                </div>
            </div>
        </div>
        <div class="result">
            <div class="column-title">Раскраска графа</div>
            <div class="column-text">
                <div id="Graph-task2"></div>
            </div>
        </div>
        <dialog class="dialogFalse">
            <p>Задание выполнено неверно!</p>
            <button id="closeDialogFalse">Закрыть</button>
        </dialog>
        <dialog class="dialogTrue">
            <p>Задание выполнено верно!</p>
            <button id="closeDialogTrue">Закрыть</button>
        </dialog>
        <!--<button id="show">Open Dialog!</button>-->
        <div class="buttons">
            <button class="btn btn-check" onclick="checkTask()"><i class="my-font fa fa-check"></i> Проверить</button>
        </div>
    </div>

    <footer class="main-footer">

    </footer>
</div>
</body>
</html>                                                                                                         