<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Теория графов</title>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic-ext,cyrillic,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/main.css">

    <script type="text/javascript" src="../js/jquery-1.12.3.min.js"></script>
</head>
<body>
<div class="container clearfix">
    <header class="main-header">
        <div class="logo"></div>
        <nav class="top-menu">
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li>Теория графов</li>
            </ul>
        </nav>
    </header>

    <div class="content">
        <div class="content-menu">
            <ul>
                <li><a href="theory3.html"><i class="fa fa-angle-left"></i></a></li>
                <li><a href="theory3.html"><i class="fa fa-align-justify"></i></a></li>
                <li class="active"><a href="task3.html"><i class="fa fa-code"></i></a></li>
                <li><a href=""><i class="fa fa-angle-right"></i></a></li>
            </ul>
        </div>
        <div class="content-tasks">
            <div class="column-title">Остовное дерево</div>
            <div class="column-text">Дано некоторое дерево. Необходимо написать функцию checkGraph, которая будет возвращать 1, если дерево является остовным
                для данного графа, и 0 - если не является.
                На вход подается матрица остовного дерева.<br/><br/>
                Матрица исходного графа:<br/>
                var graphArray = [[0,1,1,0,1],
                [1,0,1,1,0],
                [1,1,0,1,0],
                [0,1,1,0,1],
                [1,0,0,1,0]];
                <br/><br/>
                Пример матрицы остовного дерева, поданной на вход:<br/>
                var graphOstArray = [[0,1,1,0,0],
                [1,0,0,1,0],
                [1,0,0,0,0],
                [0,1,0,0,1],
                [0,0,0,1,0]];<br/><br/>
                Пример того, как должна выглядеть функция:<br/>
                function checkGraph(graphOstArray){<br/>
                &nbsp;&nbsp;&nbsp;&nbsp;//code<br/>
                }
            </div>
        </div>
        <div class="task-code">
            <div id="editor"></div>
        </div>
        <div class="task-result">
            <div class="column-title">Результат работы программы</div>
            <div id="result"></div>
        </div>
        <button class="task-btn btn-task2-check"><i class="my-font fa fa-check"></i> Проверить</button>
    </div>

    <footer class="main-footer">
    </footer>
</div>
<script src="../js/src-min/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/task.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>